[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "geometry"]
	path = geometry
	url = https://github.com/davidcsterratt/geometry
	shallow = true
	subdir = pkg
	registered = true
[submodule "RImageJROI"]
	path = RImageJROI
	url = https://github.com/davidcsterratt/rimagejroi
	shallow = true
	registered = true
[submodule "RTriangle"]
	path = RTriangle
	url = https://github.com/davidcsterratt/rtriangle
	shallow = true
	subdir = pkg
	registered = true
